* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont-cards{
    border-color: 3px rgb(221, 26, 26);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    fl

    
    gap: 2rem;
}
.card{
    border-color: 3px blue;
    display: flex;
    flex-direction: column;
    align-items: center;


}