*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    height: 100vh;
}

.Section1{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2 rem;
    flex-direction: row;
    flex-wrap: wrap;

}

.Section2{
    background-color:blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2 rem;
    flex-direction: row;
    flex-wrap: wrap;

}
.Section3{
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2 rem;
    flex-direction: row;
    flex-wrap: wrap;

}
.Card_s1{
    background-color: bisque;
    border-radius: 15dvh;
    width: 45%;

}