* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;  
    
    
}

nav{
    display: flex;
    padding-right: 15%;
}

nav a{
    
    padding: 10%;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SesionIni{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 222, 222);
    padding: 15%;
}
.SesionIni article{
    padding:5%;
}

.TextoIni{
    display: flex;
    flex-direction: column;
    
}


