* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;  
    padding: 5%;  
    
}

nav a{
    padding-right: 10%;
}

a{
    text-decoration: none;
}



